html {
    background: url(https://wallpaperaccess.com/full/499611.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

h2 {
    color: goldenrod;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    color: goldenrod;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 12px;
}